.login-form .form-input {
    width: 100%;
    margin-bottom: 10px;
}
.login-form .form-input label {
    width: 100%;
}
.login-form .form-input label input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
}
.login-form .form-input label input:focus {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}
.login-form .button-input {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    min-height: 40px;
    display: flex;
    align-items: center;
}
.login-form .form-check {
    margin-top: 15px;
}
.remember-me {
    display: inline-block;
}
.login-form .form-check label {
    width: unset;
}
.login-form .form-input input:disabled {
    box-shadow: none !important;
}